<div >
    <form >
        
        <br>
         <div >
         <label for="name">Name:</label>
         <input  type="text" id="name" name="name" [(ngModel)]="name"><br>
         
         </div>
 
         <div >
         <label for="email">Email:</label>
         <input type="email" id="email" name="email" [(ngModel)]="email" ><br>
         </div>
 
         <div >
         <label for="password">Password:</label>
         <input  type="password" id="password" name="password" [(ngModel)]="password"><br>
         </div>
 
         <div >
             <label for="phone">Phone number:</label>
             <input  type="tel" id="phone" name="phone" [(ngModel)]="phone"><br>
             </div>
     <br>
     <a routerLink="/signup">
             <input (click)=submit() type="submit" value="Submit" class="btn btn-success">
            </a> 
     </form>
</div>

